##########################################################
Example enviornment variable configurations for the Letta
Docker container. Un-coment the sections you want to
configure with.
##########################################################


##########################################################
                OpenAI configuration
##########################################################
# OPENAI_API_KEY=sk-...

##########################################################
                Anthropic Direct API
##########################################################
# ANTHROPIC_API_KEY=sk-ant-...

##########################################################
                Vertex AI Anthropic (Google Cloud)
##########################################################
# GOOGLE_CLOUD_PROJECT=my-project-id
# GOOGLE_CLOUD_LOCATION=us-central1

##########################################################
                Ollama configuration
##########################################################
# OLLAMA_BASE_URL="http://host.docker.internal:11434"

##########################################################
                vLLM configuration
##########################################################
# VLLM_API_BASE="http://host.docker.internal:8000"

##########################################################
                Database configuration
##########################################################
# LETTA_PG_URI=postgresql://user:password@host:5432/database
# OR configure individually:
# LETTA_PG_USER=letta
# LETTA_PG_PASSWORD=letta
# LETTA_PG_HOST=localhost
# LETTA_PG_PORT=5432
# LETTA_PG_DB=letta


